h1{
    color:#DF3A01;
    text-align: center;
}

body{
    font-family:'Courier New', Courier, monospace;
	font-size: 28;
}

#contenedor-izquierdo{
	background-color: #eee;
	width: 8%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}

#contenedor-derecho {
	background-color: #eee;
	width: 8%;
	height: 100%;
	right: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}

.contenedor-componente {
	position: relative;
	height: 10.5%;
	left: 20%;
}
.componente {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	z-index: 2;
	margin: auto;
	align-content: center;
}

.cielo {
	height: 80%;
	width: 60%;
	background: #A9F5F2;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.5;
	z-index: 1;
}

.suelo {
	width: 60%;
	height: 45%;
	background: #298A08;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.7;
	z-index: -1;
}